body {
  background: linear-gradient(90deg, rgb(255, 240, 212) 10%, rgb(183, 131, 71) 65%);
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}
.title-board{
  width: 100%;
  height: 130px;
  object-position: center;
}
h1 {
  text-align: center;
  z-index: 3;
  margin-top: -95px;
  font-family: fantasy;
  color: #e8ceb4;
  text-shadow: 2px 2px #000000
}

input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

button {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 3px 15px;
  color: white;
  line-height: 25px;
  background-color: #00bcd4;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  transition: all 150ms ease-in;
  outline: none;
}

button:hover {
    background-color: #79d7e4;
}

button.turn {
  background-color: #eebd79;
  box-shadow: 5px 5px 2px 2px #48330e8f;
}

button.turn:hover {
  background-color: #eaeaea;
}

.rps-wrapper {
  width: 100%;
  min-height: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

#events {
  flex-grow: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  overflow-y: scroll;
  background-color: #160601c4;
  color: #ffffff;
  padding: 1rem;
}

.button-wrapper {
  display: flex;
  padding: 10px 50px;
  justify-content: space-evenly;
}
